<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Meet Match Login</title>
  <link rel="stylesheet" href="{% static 'css/acc/auth.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <style>
    .left-side {
      background-image: url("{% static 'images/chair.png' %}");
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- Left Side -->
    <div class="left-side">
      <img src="{% static 'images/Secodry color-wiide.svg' %}" alt="Meet Match Logo" class="logo">
      <h1><strong>Access your HR Interview</strong><br>
      <span class="highlight">Control Center. BY AI <br> POWER</span></h1>
    </div>

    <!-- Right Side -->
    <div class="right-side">
      <div class="top-text">
        <p>Don't have an account? <a href="{% url 'accounts:register' %}" class="get-started">Get started</a></p>
      </div>
    <form method="POST" class="login-form">
    {% csrf_token %}
    {{ msg }}
    <h2>Welcome Again!</h2>
        <p class="subtitle">Sign in and start managing your wealth account.</p>
    <label>Username</label>
    <input type="text" placeholder="example_user" name="email" required>

    <label>Password</label>
    <input type="password" placeholder="********" name="password" required>
    <div class="options">
          <label><input type="checkbox"> Remember me on this device</label>
          <a href="{% url 'accounts:reset' %}" class="forgot-password">Forgot Password?</a>
        </div>
    <button type="submit">Sign in</button>
    </form>


    </div>
  </div>
</body>
</html>
